// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url('https://fonts.googleapis.com/css?family=Rajdhani')
@import url('https://fonts.googleapis.com/css?family=Fugaz+One')

$fontPrincipal: 'Rajdhani'
$fontCTA: 'Fugaz One'

body
    margin: 0

#Nav_Frame
    display: flex
    justify-content: space-between
    padding: 15px 0
    position: fixed
    width: 100%
    z-index: 5
    background-color: rgba(0, 0, 0, 0.2)

    #Nav_Logo
        display: flex
        margin: auto 10px
    
        .Nav_TxtLogo
            color: white
            font-family: $fontPrincipal
            font-size: 32px
            margin: auto
        
        #Nav_ImgLogo
            width: 30px
            height: 30px
    
    #Nav_CategoryFrame
        display: flex

        .Nav_Categories
            color: white
            font-family: $fontPrincipal
            font-size: 19px
            margin: auto 20px
            border-radius: 2px
            cursor: pointer
            &:hover
                text-decoration: underline

        #Nav_CTA
            background-color: #EC7500
            color: white
            padding: 5px 10px
            font-size: 17px
            font-family: $fontCTA


#Home_Background
    background-image: url("/background_ua.jpg")
    background-position: center
    background-size: cover
    width: 100vw
    height: 95vh
    display: flex

    .Home_KefCes
        position: absolute
        width: 580px
        height: 580px
        bottom: 5vh

    #Home_Ugo
        left: 0px

    #Home_Alice
        right: -50px
        

    #Home_Frame
        margin: auto
        font-family: $fontPrincipal
        display: flex
        flex-direction: column
    #Home_Baseline
        margin: 0 auto
        color: white
        font-size: 28px

    #Home_Description
        margin: 5px auto auto auto 
        color: white
        font-size: 12px

    #Home_CTAFrame
        margin: 30px auto auto auto
        position: relative
        width: 100vw
        
        #Home_CTA
            color: white
            font-size: 20px
            padding: 10px 20px
            border-radius: 2px
            background-color: #EC7500
            font-family: $fontCTA
            position: absolute
            left: 50%
            transform: translateX(-50%)
            cursor: pointer
            &:hover
                top: -5px
                left: calc(50% - 5px)
                border-radius: 0.5px
                box-shadow: 3px 5px 0px 2px white


#About_Background
    background-image: url("/home_background.jpg")
    background-position: top
    background-size: cover
    width: 100vw
    height: 95vh
    display: flex

    #About_Frame
        margin: auto 30px auto auto
        width: 50%
        background-color: rgba(0, 0, 0, 0.3)
        padding: 30px

        #About_Title
            font-family: $fontCTA
            font-size: 35px
            color: white
            text-align: center
            margin-bottom: 20px
        
        #About_Txt
            font-family: $fontPrincipal
            font-size: 18px
            color: white
            white-space: pre-wrap

        #About_Line
            margin: 20px auto
            width: 50%
            border-bottom: 1px solid white

        #About_DescriptionFrame
            display: flex

            .About_DescriptionBlock

                .About_DescriptionTitle
                    font-family: $fontCTA
                    font-size: 23px
                    color: white
                    text-align: center
                    margin-bottom: 20px

                .About_DescriptionTxt
                    font-family: $fontPrincipal
                    font-size: 17px
                    color: white
                    white-space: pre-wrap

#Social_Frame
    width: 100vw
    display: flex
    position: relative

    #Social_NameBackground
        background-image: url("/glitch_effect.jpeg")
        background-position: center top
        background-size: cover
        position: absolute
        height: 5vw
        width: 100vw
        z-index: -1

    #Social_InstaAFrame
        width: 33.3333333vw
        height: 33.3333333vw

    #Social_YoutubeFrame
        width: 33.3333333vw
        height: 33.3333333vw

    #Social_InstaUFrame
        width: 33.3333333vw
        height: 33.3333333vw

    .Social_NameFrame
        display: flex
        height: 5vw

        .Social_NameLogo
            width: 50px
            height: 50px
            margin: auto 5px auto auto

        .Social_NameTxt
            color: white
            font-family: $fontPrincipal
            font-size: 28px
            margin: auto auto auto 5px

    .Social_PicturesFrame
        margin: auto
        display: flex
        border: 1px solid red

        .Social_Pictures
            margin: auto
            width: 33%
            height: 33%
            box-shadow: 0 10px 6px -6px
            // position: relative
            // &:before, &:after
            //     z-index: -1
            //     position: absolute
            //     content: ""
            //     bottom: 15px
            //     left: 10px
            //     width: 50%
            //     top: 80%
            //     max-width: 300px
            //     background: #777
            //     -webkit-box-shadow: 0 15px 10px #777
            //     -moz-box-shadow: 0 15px 10px #777
            //     box-shadow: 0 15px 10px #777
            //     -webkit-transform: rotate(-3deg)
            //     -moz-transform: rotate(-3deg)
            //     -o-transform: rotate(-3deg)
            //     -ms-transform: rotate(-3deg)
            //     transform: rotate(-3deg)
            // &:after
            //     -webkit-transform: rotate(3deg)
            //     -moz-transform: rotate(3deg)
            //     -o-transform: rotate(3deg)
            //     -ms-transform: rotate(3deg)
            //     transform: rotate(3deg)
            //     right: 10px
            //     left: auto
            